@use "../abstracts/variables" as *;
body {
    font-family: $font-family-primary;
    background-color: #f0ba2444;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.8em;
    margin-top: 0.5em;
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 320px) {}