@use "variables" as *;
@mixin button($btn-color-primary, $color-text) {
    color: $color-text;
    background-color: $btn-color-primary;
    font-weight: bold;
    cursor: pointer;
    padding: 0.75em;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    transition: 0.3s ease;
    &:hover {
        background-color: #03771c;
    }
    &:active {
        background-color: white;
    }
}

@mixin admin-btn($btn-color-primary, $color-text) {
    color: $color-text;
    background-color: $btn-color-primary;
    font-weight: bold;
    box-shadow: 0 0 8px 1px black;
    cursor: pointer;
    padding: 1.5em 1em;
    border-radius: 12px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    transition: 0.3s ease;
    gap: 0.5em;
    text-decoration: none;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        background-color: rgb(1, 139, 8);
    }
}

@mixin cta-page-btn($btn-color-primary, $color-text) {
    color: $color-text;
    background-color: $btn-color-primary;
    font-weight: bold;
    box-shadow: 0 0 8px 1px black;
    cursor: pointer;
    padding: 1em 0.5em;
    border-radius: 4px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    transition: 0.3s ease;
    gap: 0.5em;
    text-decoration: none;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        background-color: rgb(1, 139, 8);
    }
    @media screen and (max-width: 768px) {
        padding: 0.5em 0.5em;
        font-size: 1.1em;
    }
}

@mixin dishBtn($btn-color-primary, $color-text) {
    color: $color-text;
    background-color: $btn-color-primary;
    font-weight: bold;
    cursor: pointer;
    padding: 0.25em 0.25em;
    border-radius: 4px;
    font-size: 1em;
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: center;
    transition: 0.3s ease;
    gap: 0.5em;
    text-decoration: none;
    &:hover {
        background-color: rgb(1, 139, 8);
    }
    &:active {
        opacity: 0.8;
    }
    @media screen and (max-width: 768px) {
        padding: 0.25em 0.125em;
        font-size: 0.9em;
    }
}