@use "variables" as *;
@mixin button($btn-color-primary, $color-text) {
    color: $color-text;
    background-color: $btn-color-primary;
    font-weight: bold;
    cursor: pointer;
    padding: 0.75em;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    transition: 0.3s ease;
    &:hover {
        background-color: #03771c;
    }
    &:active {
        background-color: white;
    }
}