$btn-color-primary:#1f6fe6;
$btn-color-secondary:#3e7903f8;
$btn-color-news: rgb(255, 238, 0);
$btn-color-red: #e95500e3;
$btn-color-cta: #b34100e3;
$btn-color-lunch:#694501;
$btn-color-dinner:#8c1f0f;
$btn-color-review:#025830;
$btn-color-grey: #585757;
$btn-image: #076a94;
$color-text: #000000;
$color-text-light: #ffffff;
$link-color: #fa8e00;