@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
#login-btn {
    @include button($btn-color-primary, $color-text-light);
    &:hover {
        background-color: #0d52b9;
    }
}

#logout-button {
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    background: none;
    transition: 0.2s ease;
    font-size: 1.3em;
    &:hover {
        color: $link-color;
        transform: scale(1.1);
    }
}

#register-user-btn {
    @include button($btn-color-secondary, $color-text-light);
    &:hover {
        opacity: 1.1;
    }
}

.cta-btn-booking {
    @include admin-btn($btn-color-cta, $color-text-light);
}

.cta-btn-lunch {
    @include admin-btn($btn-color-lunch, $color-text-light);
}

.cta-btn-dinner {
    @include admin-btn($btn-color-dinner, $color-text-light);
}

.cta-btn-review {
    @include admin-btn($btn-color-review, $color-text-light);
}

#new-dish-btn {
    @include cta-page-btn($btn-color-review, $color-text-light);
}

#edit-dish-btn {
    @include cta-page-btn($btn-color-dinner, $color-text-light);
}

.submit-dish-btn {
    @include cta-page-btn($btn-color-primary, $color-text-light);
}

.delete-dinner-btn {
    @include dishBtn($btn-color-dinner, $color-text-light);
}

.update-dinner-btn {
    @include dishBtn($btn-color-primary, $color-text-light);
}

@media screen and (max-width: 768px) {
    #logout-button {
        font-size: 1.1em;
        &:hover {
            color: $link-color;
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 380px) {
    #logout-button {
        font-size: 1em;
        &:hover {
            color: $link-color;
            transform: scale(1.1);
        }
    }
}