@use "../pages/dinner" as *;
#image-container {
    margin: 2em auto 3em;
    padding: 1em 3em 2em;
    border-radius: 8px;
    width: 100%;
    max-width: 1240px;
    background-color: #ffffff;
}

.images-list {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    margin-top: 3em;
    h3 {
        font-size: 1.4em;
        color: #700303;
        text-decoration: underline;
    }
}

.image-article {
    @extend .dinner-article;
    background-color: #d0d0d0;
    margin: 1em auto;
    img {
        max-width: 300px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        border: 2px solid rgb(120, 119, 117);
        box-shadow: 0 0 4px 2px rgba(102, 101, 101, 0.45);
        transition: 0.3s ease;
        &:hover {
            box-shadow: 0 0 2px 2px rgba(112, 3, 3, 0.75);
        }
    }
    p {
        text-align: center;
        margin: 0.5em auto;
        font-size: 0.9em;
        font-weight: 600;
        font-style: italic;
        color: #700303;
        max-width: 30ch;
    }
}

#add-image-form {
    @extend #new-dish-form;
    background-color: #f0aae1be;
    input[type="file"] {
        background-color: #ffffff;
        padding: 0.5em;
        border-radius: 4px;
    }
}

#add-new-image-container {
    @extend #new-dish-container;
    background-color: rgba(240, 186, 36, 0);
}

.image-row-btns {
    @extend .dish-row-btns;
    justify-content: center;
}

@media screen and (max-width: 475px) {
    .images-list {
        gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .image-article {
        img {
            border-radius: 0px;
        }
    }
    #image-container {
        padding: 0em;
        border-radius: 0px;
    }
}

@media screen and (max-width: 350px) {
    .images-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 300px) {
    .images-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    #image-container {
        margin: 2em auto 3em;
        padding: 0em;
    }
}