@use "../abstracts/animations" as *;
.error-message {
    color: rgb(221, 4, 4);
    font-weight: bold;
    li {
        list-style-position: inside;
        text-align: left;
    }
}

.success-message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    ul {
        list-style: none !important;
    }
    color: blue;
}

#admin-user {
    background: #2b2b2c;
    padding: clamp(0.25em, 1vw, 0.75em) clamp(0.5em, 1.5vw, 1.5em);
    border-radius: 12px;
    margin-bottom: 1.5em;
    color: #fff;
    box-shadow: 0 4px 12px rgba(29, 19, 19, 0.25);
    p {
        margin: 0.1em 0;
        font-size: clamp(0.9em, 2vw, 1.1em);
        line-height: 1.4;
    }
    .user-span {
        font-weight: bold;
        color: #ffe600;
    }
}

#loading-text {
    animation: pulseText 1.5s infinite;
    margin-bottom: 3em;
}