.error-message {
    color: rgb(221, 4, 4);
    font-weight: bold;
    li {
        list-style-position: inside;
        text-align: left;
    }
}

.success-message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    ul {
        list-style: none !important;
    }
    color: blue;
}